<% provide(:title, "Blog") %>
<!-- Page Header-->
<div class="container px-4 px-lg-5">
    <div class="tag-container">
        <% @tags.each do |tag| %>
            <div class="tag-list">
                <%= link_to tag.name, tag_path(tag) %>
            </div>
        <% end %>
    </div>
    <div class="post-container">
        <div class="d-flex flex-wrap justify-content-center">
            <% @blog_posts.each do |blog_post| %>
            <div class="col-lg-3 mx-4">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="<%= post_path(blog_post) %>">
                        <h2 class="post-title fs-3"><%= truncate(blog_post.title, length: 35) %></h2>
                        <img src="<%= blog_post.title_image_url %>" alt="image" class="resize_img_thumb">
                        <h3 class="post-subtitle fs-4"><%= truncate(blog_post.content, length: 50) %></h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <span class="text-dark"><%= blog_post.user.name if blog_post.user %></span>
                        <%= time_ago_in_words(blog_post.created_at) %> ago.
                    </p>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>