<div class="container to_bottom">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <h1><%= @blog_post.title %></h1>
            <img src="<%= @blog_post.title_image_url %>" alt="image" class="resize_img_show">
            <p><%= @blog_post.content %></p>
            <% if @blog_post.summary.present? %>
                <h4 class="mt-5">Summary</h4>
                <p><%= @blog_post.summary %></p>
            <% end %>
            <p>
                <strong>Tags:</strong>
                <% @blog_post.tags.each do |tag| %>
                    <%= link_to tag.name, tag_path(tag) %>
                <% end %>
            </p>
            <p><strong>Posted by:</strong> <%= @blog_post.user.name if @blog_post.user %></p>

            <% if current_user?(@user) %>
                <%= link_to 'Edit', edit_blog_post_path(@blog_post), class: 'btn btn-secondary' %>
            <% end %>
            <div class="my-5">
                <%= link_to 'Go to Profile', user_path(@blog_post.user.id), class: 'btn btn-primary' %>
                <%= link_to 'Go to Blog Posts', blog_posts_path, class: 'btn btn-success' %>
            </div>
        </div>
    </div>
</div>