<% provide(:title, @user.name) %>
<div class="container to_bottom">
    
    <div class="row">
        <div class="col-lg-3">
            <h1><%= @user.name %></h1>
            <p><strong>Email:</strong> <%= @user.email %></p>
            <% if current_user?(@user) %>
                <div class="my-5">
                    <%= link_to 'Update Profile', edit_user_path(@user), class: 'btn btn-primary mb-2' %>
                    <%= link_to 'Post a Blog', new_blog_post_path, class: 'btn btn-success mb-2' %>
                </div>
            <% end %>
        </div>

        <div class="col-lg-9">
            <% if @user.blog_post.any? %>
            <h3>Blog Post (<%= @user.blog_post.count %>)</h3>
            <p class="blog_post">
                <table class="table table-striped my-5 align-middle">
                    <tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                    <% @blog_posts.each do |blog_post| %>
                        <tr>
                            <td><%= blog_post.title %></td>
                            <td><%= truncate(blog_post.content, length: 100) %></td>
                            <td><img src="<%= blog_post.title_image_url %>" alt="image" class="resize_img"></td>
                            <td><%= link_to 'Show', blog_post, class: 'btn btn-dark btn-sm' %>
                            <% if current_user?(@user) %>
                                <%= link_to 'Edit', edit_blog_post_path(blog_post), class: 'btn btn-secondary btn-sm' %>
                                <%= link_to 'Delete', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                            <% end %>
                            </td>
                        </tr>
                    <% end %>
                </table>
            </p>
            <% end %>
        </div>
    </div>

</div>
